<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700871046888-h76tohojkq7uhsbrb6nmr73dc4ne66b0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700871046888-h76tohojkq7uhsbrb6nmr73dc4ne66b0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>700871046888-79b5aiqiv55lje0rraaqae44cbtedmsq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBIE1eht0NAokA2Fm8SUGggf1zfYakgPGM</string>
	<key>GCM_SENDER_ID</key>
	<string>700871046888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Mobulous.Owin</string>
	<key>PROJECT_ID</key>
	<string>owin-2f285</string>
	<key>STORAGE_BUCKET</key>
	<string>owin-2f285.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700871046888:ios:039622f711bd149c2a3b5d</string>
	<key>DATABASE_URL</key>
	<string>https://owin-2f285.firebaseio.com</string>
</dict>
</plist>